.App{
    margin-top: 80px;
}

h1{
    text-align:center;
    color: rgb(153, 131, 131);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.item{
    background: rgb(153, 131, 131);
    height: 150px;
    width: 150px;
    text-align:center;
    align-items: center;
    border-radius: 50%;
    margin: auto;
    overflow: hidden;
}

.item:hover img{
    transform: scale(0.8);
    cursor: pointer;
}

.alice-carousel__dots-item:not(.__custom):hover, .alice-carousel__dots-item:not(.__custom).__active{
    background-color: rgb(153, 131, 131) !important;
}

